:root{
  --primary-color: #172666;
	--secondary-color: #094B97;
	--accent1-color: #202561;
	--accent2-color: #CED5E3;
	--heading-font: "Bebas Neue", sans-serif;
	--body-font: "Open Sans", sans-serif;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: var(--body-font);
	color: var(--accent1-color);
}

header, main, footer {
	width: 840px;
	margin: 0 auto;
}

h1, h2 {
	font-family: var(--heading-font);
	color: var(--primary-color);
	text-align: center;
}

nav, p, section, article {
	margin: 16px;
	padding: 8px;
}

header{
	background-color: var(--primary-color);
	color: var(--accent2-color);
	margin: 0 auto;
	display: grid;
	padding: 0 0.5rem;
	align-items: center;
	border-bottom: 1px solid #ccc;
	grid-template-columns: 120px 1fr;
}
header img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}
header h1 {
	font-size: 2rem;
	color: var(--accent2-color);
}
.navigation {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	font-family: Arial, sans-serif;
}
.navigation li {
	flex: 1 1 auto;
	border: 1px solid var(--accent2-color);
	margin: 2px;
	text-align: center;
}
.navigation a {
	display: block;
	color: var(--accent2-color);
	padding: 10px 5px 10px 5px;
	text-decoration: none;
	font-size: 0.8rem;
}
.navigation a:hover {
	color: var(--accent1-color);
	background-color: var(--accent2-color);
	font-weight: 700;
	text-decoration: underline;
}

.hero {
	position: relative;
}
.hero img {
	display: block;
	width: 100%;
	height: auto;
}
.hero h1 {
	position: absolute;
	top: 20px;
	width: 100%;
	padding: 16px;
	text-align: center;
	opacity: 0.7;
	background-color: var(--accent1-color);
	color: #FFF;
}
.hero article {
	position: absolute;
	top: 8em;
	background-color: var(--secondary-color);
	opacity: 0.9;
	color: #FFF;
}
.hero article img {
	float: right;
	width: 125px;
	margin: 5px;
}

.history {
	margin: 0 auto;
	display: grid;
	padding: 0 0.5rem;
	align-items: center;
	border-bottom: 1px solid #ccc;
	grid-template-columns: 1fr 120px 1fr;
	column-gap: 10px;
}
.history img {
	width: 100px;
}

.adventure {
	display: grid;
	margin: 10px auto;
	align-items: center;
	grid-template-columns: auto auto auto auto auto;
	column-gap: 10;
}
.adventure figure {
  padding: 5px;
}
.adventure img {
  width: 150px;
}
.adventure figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

.title {
	margin: 2rem 1.2rem;
}
.title p {
	text-align: center;
	opacity: 0.8;
}
.reachourteam {
	display: grid;
	margin: 10px auto;
	align-items: center;
	grid-template-columns: 1fr 1fr;
	column-gap: 10px;
}
iframe {
	border: 0;
}
.ourteam {
	margin: 5px;
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 10px;
}
.ourteam figure {
		text-align: center;
}
.ourteam figure img {
	height: 250px;
	border-radius: 10px;
}
.card {
	height: 300px;
	padding: 1.8rem;
	border-radius: 20px;
	position: relative;
	border: 2px solid #c3c6ce;
}
.message {
	padding: 0.8rem;
	margin: 2rem 5rem;
	border-radius: 10px;
	border: 2px solid var(--accent2-color);
}
input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.row {
	display: flex;
	column-gap: 10px;
}
.column {
	width: 50%;
  padding: 10px;
}
.submit {
	padding: 5px 20px;
	border-radius: 10px;
	color: var(--accent2-color);
	background-color: var(--accent1-color);
}

footer {
	display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 16px;
	color: var(--accent2-color);
  background-color: var(--accent1-color);
}
.socialmedia a {
	text-decoration: none;
}
footer nav img {
	width: 20px;
}